#form-container {
  background-image: url('/form_background.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 212px 0;
  width: 100%;
}


#form-container::before {
  position: relative;
  content: "";
  width: 0;
  height: 0;
  border-top: 100px solid transparent;
  border-right: 100vw solid #FFFFFF;
  border-bottom: 0;
  top: -234px;
}

#form-wrapper {
  display: flex;
  width: 1112px;
  border: 9px solid #b3b3b3;
  margin: 0 auto;
  min-width: 1180px;
}

.form-heading {
  width: 35%;
  border-bottom: 2px solid #CC6699;
}

#info-container {
    height: 323px;
    width: 506px;
    margin: 67px 25px 125px 57px;
    min-width: 506px;
}

form {
  width: 556px;
  height: 448px;
  display: flex;
  row-gap: 16px;
  margin: 67px 50px 100px 25px;
  flex-direction: column;
  justify-content: space-between;
  min-width: 506px;
}

#heading-1 {
  margin: 0 0 15px 0;
}

input {
  height: 38px;
  background-color: #FFFFFF;
  color: black;
}

textarea {
  resize: none;
  height: 506px;
  background-color: #FFFFFF;
  color: black;
}

#form-wrapper form input,
#form-wrapper form textarea,
#form-wrapper form button {
  width: 100%;
  box-sizing: border-box;
}
