@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

#hero-container {
    position: relative;
    top: -119px;
    z-index: -1;
    margin-bottom: -119px;
}

#hero-image {
    width: 100%;
}

#hero-content {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-25%, -50%);
}

#heading, #text {
    font-family: 'Oswald', sans-serif;
    font-size: 100px;
}

#heading {
    margin-bottom: 0;
    padding-bottom: 0;
}

#text {
    font-weight: 300;
    margin: 0;
    padding: 0;
}

#submitBtn {
    text-align: center;
    background: linear-gradient(#F9DD39, #D3177E);
    margin-top: 0;
    padding-top: 0;
    width: 270px;
    padding: 10px 15px;
    border: none;
    border-radius: 50px;
}