#home1, #home2, #home3 {
  background-color: #FFFFFF;
  color: #333333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 376px;
  position: relative;
  text-align: center;
}

#home1::before, #home2::before, #home3::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-top: 100px solid transparent;
  border-right: 100vw solid #FFFFFF;
  border-bottom: 0;
  top: -99px;
}

#home1::after, #home2::after, #home3::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-top: 0;
  border-left: 100vw solid #FFFFFF;
  border-bottom: 100px solid transparent;
  top: 375px;
}

section button {
  width: 790px;
  background: linear-gradient(to right, #CC6699 30%, #FBAB28);
}

p {
  width: 790px;
}

section button:hover {
  background: linear-gradient(135deg, #23aadd 30%, #37ce9d 100%);
}