@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.top-bar-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1300px;
}

.contact-info {
  display: flex;
}

.search-icon {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.social-container {
  display: flex;
  flex-direction: row;
}

.phone,
.address {
  color: #FFF;
  font-family: Roboto, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
}


.hours-text {
  color: #FFF;
  font-family: Roboto, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}

.social-icons {
  display: flex;
  align-items: center;
  column-gap: 10px;
}


.social-icon {
  display: flex;
  width: 36px;
  height: 36px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  position: relative;
  background: linear-gradient(135deg, #C69 30%, #FBAB28 100%);
  text-decoration: none;
}

.social-icon svg {
  width: 26px;
  height: 26px;
  position: relative;
  z-index: 1;
}

.main-nav {
  width: 100%;
  max-width: 1300px;
}

.nav-container {
  display: flex;
  padding-left: 50px;
}


.logo {
  width: 125px;
  height: 50px;
  max-width: 130px;
  position: relative;
}

.nav-menu {
  display: flex;
  width: 100%;
  justify-content: center;
}


.nav-link {
  display: flex;
  padding: 4px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  position: relative;
  text-decoration: none;
  color: #FFF;
  font-family: Roboto, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  flex-direction: column;
}

.nav-link.active {
  background: linear-gradient(270deg, #C69 30%, #FBAB28 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-link:hover {
  background: linear-gradient(270deg, #C69 30%, #FBAB28 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 

}

.nav-underline {
  width: 0%;
  height: 2px;
  position: relative;
  left: 1px;
  bottom: -6px;
  opacity: 0.85;
  background: linear-gradient(270deg, #C69 30%, #FBAB28 100%);
  transition: width 1s;
}

.nav-link:hover > .nav-underline {
  width: 100%;
  height: 2px;
  position: relative;
  left: 1px;
  bottom: -6px;
  opacity: 0.85;
  background: linear-gradient(270deg, #C69 30%, #FBAB28 100%);
}



