.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  background: #1A1C20;
  position: relative;
  padding: 15px 0;
}

.footer-outer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  position: relative;
}

.footer-inner-container {
  display: flex;
  width: 100%;
  /* padding: 0 50px; */
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.footer-content {
  display: flex;
  min-height: 60px;
  padding: 10px 0;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  position: relative;
}

.footer-logo-container {
  display: flex;
  padding: 10px 15px 10px 0;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.footer-logo-link {
  display: flex;
  align-items: flex-start;
  position: relative;
}

.footer-logo {
  width: 75px;
  height: 20px;
  position: relative;
}

.footer-nav-margin {
  display: flex;
  padding-left: 10px;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  position: relative;
}

.footer-nav-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  align-self: stretch;
  position: relative;
}

.footer-nav-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  position: relative;
}

.footer-nav-list {
  display: flex;
  align-items: flex-start;
  gap: 19.2px;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-nav-link {
  display: flex;
  align-items: center;
  position: relative;
  color: #FFF;
  font-family: Roboto, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  text-decoration: none;
}

.footer-nav-link:hover {
  opacity: 0.8;
}
