#banner-container {
    width: 100vw;
    height: 435px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#banner-heading {
    display: inline;
    position: relative;
    top: 50%;
    left: calc(50% - 28px);
}
